body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* Helpers */
.invisible {
  visibility: hidden;
}

.center {
  text-align: center;
}

.bold {
	font-weight: bold;	
}

.card {
    position: relative;
    background-color: #fff;
    transition: box-shadow .25s;
    border-radius: 2px;
}