.game__header {
  background-color: #222;
  color: #fff;
}

.header__title {
  display: inline-block;
  margin-left: -120px;
}

.header__logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
  float: left;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}