.gameHeader {
  background-color: #222;
  color: #fff;
  height: 100px;
}

.headerTitle {
  display: inline-block;
  margin-left: -120px;
}

.headerLogo {
  animation: App-logo-spin infinite 20s linear;
  height: 90px;
  margin-top: 5px;
  float: left;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}